@import "../../global.scss";

.section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.content-wrapper {
		width: 1200px;
		display: flex;
		flex-direction: column;
		align-content: left;
		justify-content: center;
		margin: 4rem auto;

		h1 {
			margin-bottom: 1.5rem;
			margin: 0 auto 2rem;
			font-size: 3rem;
			font-weight: 600;
			text-transform: uppercase;
			color: $gunmetal;
		}

		h2 {
			margin: 2rem 0 1rem;
			font-size: 2rem;
			font-weight: 600;
			padding-left: 2rem;
		}

		p {
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 1.5;
			text-indent: 2rem;
		}

		ul {
			margin-left: 3.1rem;
		}

		a {
			text-decoration: none;
			color: $flame;
			transition: 0.4s ease-in-out;

			&:hover {
				color: $gunmetal;
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////
.prices-container {
	display: flex;
	flex-direction: column;
	// position: relative;
	max-width: 70vw;
	// height: 300px;
	background: #f1f1f1;
	margin: 3rem auto;
	word-break: break-all;

	// border: 1px solid rgba(0, 0, 0, 0.274);

	.bloc-tabs {
		display: flex;

		button {
			border: none;
		}

		.tabs {
			// background: white;
			border: 1px solid $rich-black-fogra-39;
			color: $gray-footer;
			background: $baby-powder;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
			min-width: 50%;
			padding: 1rem;
			cursor: pointer;
			transition: 0.4s;

			&:hover {
				color: $gray-footer;
				background: rgba($gray-footer, 0.3);
			}

			// padding: 15px;
			// text-align: center;
			// width: 50%;
			// background: rgba(128, 128, 128, 0.075);
			// cursor: pointer;
			// border-bottom: 1px solid red;
			// box-sizing: content-box;
			// position: relative;
			// outline: none;
		}
		.tabs:not(:last-child) {
			border-right: none;
		}

		.active-tabs {
			color: $baby-powder;
			background: $gray-footer;
			border: 1px solid $rich-black-fogra-39;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
			min-width: 50%;
			transition: 0.4s;

			&:hover {
				color: $baby-powder;
				background: rgba($gray-footer, 0.8);
			}
		}

		.active-tabs::before {
			content: "";
			display: block;
			position: absolute;
			top: -5px;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% + 2px);
			height: 5px;
			overflow: hidden;
			// background: rgb(88, 147, 241);
		}
	}

	.content-tabs {
		flex-grow: 1;

		.content {
			background: white;
			padding: 20px;
			width: 100%;
			height: 100%;
			display: none;
		}
		.content h2 {
			padding: 0px 0 5px 0px;
		}
		.content hr {
			width: 100px;
			height: 2px;
			background: #222;
			margin-bottom: 5px;
		}
		.content p {
			width: 100%;
			height: 100%;
		}
		.active-content {
			display: block;
		}
	}
}

.price-cards,
.package-cards {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	padding: 0 2.5rem 1rem 2.5rem;
	border-bottom: 1px solid $rich-black-fogra-39;

	@media only screen and (max-width: $x-small) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 0 1rem 1rem 1rem;
	}

	@media only screen and (max-width: $small) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 0 1rem 1rem 1rem;
	}

	@media only screen and (min-width: $small) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 0 1rem 1rem 1rem;
	}

	@media only screen and (min-width: $medium) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		padding: 0 1rem 1rem 1rem;
	}

	@media only screen and (min-width: $large) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		padding: 0 1rem 1rem 1rem;
	}
}

//////////
// Accordion
/////////

.accordion {
	width: 70vw;
	margin: 1rem auto 2rem;
	padding: 0 10px;

	h2 {
		margin-bottom: 2.5rem;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		overflow: hidden;
	}
}
