@import "../../global.scss";

.footer {
	background: $gray-footer;
	padding: 0 2.5rem;
	margin-top: auto;

	@media only screen and (max-width: $large) {
		display: none;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 80%;
		margin: auto;
		border-bottom: 1px solid $gray-link-hover-footer;
		padding: 0 2.5rem 0.75rem;

		@media only screen and (min-width: $large) {
			min-width: 100vh;
		}

		.footer-offers {
			display: flex;
			flex-direction: column;
			justify-content: left;
			overflow: hidden;

			.footer-column {
				padding: 1rem 0.5rem 1.5rem 0;

				.column-title {
					font-size: 1.25rem;
					line-height: 1.75rem;
					letter-spacing: 0.075em;
					text-align: left;
					font-weight: 700;
					color: $light-gray-footer;
					text-transform: uppercase;
					margin-top: 2.5rem;
					margin-bottom: 1rem;

					span {
						font-size: 2rem;
						color: $flame;
						padding-left: 0.2rem;
					}
				}

				.column-items {
					display: flex;
					flex-direction: column;
					justify-content: left;

					.item-link {
						color: $light-gray-footer;
						text-decoration: none;
						line-height: 1.75rem;
						font-weight: 300;
						letter-spacing: 0.05em;
						transition-duration: 0.4s;

						&:hover {
							color: $gray-link-hover-footer;
						}
					}
				}
			}
		}
	}

	.small-footer-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 80%;
		margin: auto;
		padding: 1.2rem 0;

		.small-footer-copyright-info {
			padding: 0 2.5rem;

			.copyright-text {
				font-size: 0.85rem;
				line-height: 1.25rem;
				color: $light-gray-footer;
				font-weight: 300;

				.copyright-link {
					text-decoration: none;
					color: $flame;
					transition-duration: 0.4s;

					&:hover {
						color: $gray-link-hover-footer;
					}
				}
			}
		}
	}
}
